<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033621992811-esesum5qgkivmjqa167djuj9c4f1dlro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033621992811-esesum5qgkivmjqa167djuj9c4f1dlro</string>
	<key>API_KEY</key>
	<string>AIzaSyAxajMy4nc0dAPM5B1p08xPHYpvMBc0eSY</string>
	<key>GCM_SENDER_ID</key>
	<string>1033621992811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.usc.FinalProject342</string>
	<key>PROJECT_ID</key>
	<string>finalproject342</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproject342.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033621992811:ios:cc103502355c7316d3082e</string>
</dict>
</plist>